@media only screen and (max-width: 1108px){
  .wrapper {
    width: 90%;
  }
  #social {
    position: absolute;
    top: 82px;
    right: 4%;
    width: auto;
    }
    #social a {
      display: inline-block;
    }
}
@media only screen and (max-width: 900px) {
  body {
    font-size: 85%;
  }
  #logo h1 {
    width: 35px;
    height: 35px;
  }
  #logo h2 {
    font-size: 2.2em;
  }
  #social {
    position: absolute;
    top: 72px;
    right: 4%;
    width: auto;
    }
    .col-3 p  {
      column-count: 2;
    }

}

@media only screen and (max-width: 800px) {
  #navbar nav a {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 700px) {
  #promotional.col-2 {
    float: none;
    width: 100%;
  }
  #news.col-1 {
    float: none;
    width: 100%;
    margin: 0 auto 20px;
  }
}
@media only screen and (max-width: 650px) {
  .border-right {
    float: none;
    margin-left: 0;
    border-right: 0;
  }
  #details div {
    height: auto;
    margin-left: 0;
  }
  #details.col-1 {
    margin-left: 0;
    padding: 10px;
  }
}
